.float {
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(-8px);
  }
}
